body {
    background-image: url("dow\ background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: auto;
}

div {
    width: 600px;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    margin-top: 30px;
    margin-left: 45px;
    background-color: #10548b;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    font-size: 27px;
}

div h3 {
    cursor: pointer;
}

.active :hover {
    color: limegreen;
}

.expired :hover {
    color: gold;
}

div h3 a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

div p a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav {
    margin-top: 40px;
    list-style: none;
    font-size: 19px;
}

nav ul {
    text-decoration: none;
    color: white;
    margin-top: 0px;
}

nav a {
    text-decoration: none;
    color: white;
    padding-right: 22px;
}

nav li ul :hover {
    color: limegreen;

}

@media only screen and (max-width:700px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }

    div {
        width: 400px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 20px;
        margin-top: 80px;
        margin-left: 80px;
        background-color: #10548b;
        color: #fff;
        border-radius: 15px;
        font-size: 19px;
        text-align: center;
    }

    p {
        color: darkblue;
        margin-top: 80px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 19px;
        text-align: justify;
    }
}

@media only screen and (max-width:540px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }

    div {
        width: 300px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 20px;
        margin-top: 80px;
        margin-left: 80px;
        background-color: #10548b;
        color: #fff;
        border-radius: 15px;
        font-size: 19px;
        text-align: center;
    }

    p {
        color: darkblue;
        margin-top: 80px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 19px;
        text-align: justify;
    }
}