<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Forecasts</title>

    <!--    <link rel="stylesheet" href="/css/reset-css.css"/>-->
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/admin-style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav>
    <ul class="nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li sec:authorize="hasRole('Admin')">
            <a th:href="@{/admin}">Admin</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/users/register}">Register</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/users/login}">Login</a>
        </li>
        <li sec:authorize="isAuthenticated()" th:method="post">
            <a th:href="@{/users/logout}">Logout</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/contact}">Contact Us</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/about}">About Us</a>
        </li>
        <li sec:authorize="hasRole('Admin')">
            <a th:href="@{/forecasts/add}">Add Forecast</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/orders/order}">Orders</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/freeForecasts}">Free Forecast</a>
        </li>
    </ul>
</nav>

<footer>
    <p>© Trading Forecasts 2023. All rights reserved.</p>
</footer>

</body>
</html>