<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/about-style.css}">
    <title>About Us</title>
</head>

<body>

<nav th:replace="~{fragments/commons::nav}"></nav>

<div class="About-us">
    <h1> About Us </h1>
    <img src="/images/about.jpg" alt="about.jpg">
    <p>Нашата мисия е да покажем на трейдърите на Forex как да бъдат печеливши и да не губят.</p>
    <hr>
    <p>Във Forex света съществува мит, че 95% от трейдърите губят парите си. Има доста проучвания по тази тема за
        различните държави и цифрата на печелившите трейдъри варира между <strong>15% - 25%</strong></p>
    <p>Ние сме екип от професионалисти, който търгува на фондовите пазари повече от <strong>15 години</strong>.
        Ползваме няколко стратегии, които постоянно се усъвършенстват и адаптират към движението на фондовите борси
        и през последните 3 години успеваемостта на нашите прогнози е <strong>95%</strong>.</p>
    <p>Ние <strong>НЕ</strong> сме брокер през който може да търгувате на Forex. Ние само Ви показваме движението на
        пазара, чрез нашата прогноза и Вие може търгувате през вашия брокер без значение дали се намира в България
        или в чужбина. Платформите които ползваме за нашите прогнози са <strong>MetaTrader 4</strong> и
        <strong>MetaTrader 5</strong>, но те са съвместими и за други платформи които се ползват от различните
        брокери не само у нас, но и извън страната.
    </p>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>

</html>