<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/my-account-style.css}">
</head>

<body>
<nav th:replace="~{fragments/commons::nav}"></nav>

<main>
    <form th:action="@{/change-role}" th:method="patch" th:object="${changeAccountRoleDTO}"
          class="mx-auto w-25 bg-blur rounded">

        <div class="form-group">
            <div if="${#fields.hasGlobalErrors()}">
                <p each="err : ${#fields.globalErrors()}" text="${err}" class="errors alert alert-danger"/>
            </div>

            <div class="role">
                <label for="role" class="role" sec:authorize="isAuthenticated()">Current Role: </label>
                <div>
                    <p>
                        <th:block authentication="changeAccountRoleDTO.currentRole"></th:block>
                    </p>
                </div>
                <hr>

            </div>
            <div class="role">
                <label for="role" class="role">Select new role</label>
            </div>
            <div>
                <select class="custom-select" id="role" name="role">
                    <option value="">Select role</option>
                    <option>Admin</option>
                    <option>Moderator</option>
                    <option>User</option>
                </select>
            </div>

            <p each="error : ${#fields.errors('role')}" text="${error}" class="errors">
                You have to select role!
            </p>

        </div>

        <div class="button">
            <button type="submit" class="button-change">Change Role</button>
        </div>

    </form>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>

</html>