<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/contact-us-style.css}">
</head>

<body>

<nav th:replace="~{fragments/commons::nav}"></nav>

<div class="container">
    <div style="text-align:center">
        <h2>Contact Us</h2>
    </div>
    <div class="row">
        <div class="column">
            <img src="/images/contact-us.jpg" style="width:100%" alt="contact.jpg">
        </div>
        <div class="column">
            <p>
            <h3>Trading Forecasts помага на трейдърите на Forex да печелят. Ако имате въпроси относно нашите
                прогнози или ви трябва съвет как да търгувате на Forex не се колебайте да се свържете с нас.
                Можете да го направите по и-мейл или телефон, които са посочени по надолу.</h3>
            </p>
            <p>
            <h3>
                Email:
                <br/>
                TradingForecasts@gmail.com
            </h3>
            </p>
            <p>
            <h3>
                Телефонен номер:
                <br/>
                +359777123456
            </h3>
            </p>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>

</html>