<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EUR/USD</title>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/eur-usd-style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<nav th:replace="~{fragments/commons::nav}"></nav>
<main>
    <div>
        <h3>
            <a href="/forecast-link/eur/eur-usd-forecasts.html">Choose EUR/USD forecasts</a>
        </h3>
    </div>
    <div>
        <h3>
            <a href="https://www.investing.com/currencies/eur-usd-historical-data" target="_blank">EUR/USD Historical
                Data</a>
        </h3>
    </div>

    <p>
        EUR/USD is the forex ticker that tells traders how many US Dollars are needed to buy a Euro. The Euro-Dollar
        pair is popular with traders because its constituents represent the two largest and most influential
        economies in the world. When open "long" position you buy euro (respectively sell dollar) and when you open
        "short" position you sell euro (respectively buy dollar).
    </p>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>

</html>