<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Forecast</title>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/forecast-add-style.css}">
</head>

<body>
<nav th:replace="~{fragments/commons::nav}"></nav>
<main>
    <form th:action="@{/forecasts/add}" th:method="post" th:object="${forecastAddDTO}" enctype="multipart/form-data"
          class="mx-auto w-25 bg-blur rounded">

        <div class="form-group">
            <div class="description">
                <label th:for="description" class="description">Description</label>
            </div>
            <div>
                    <textarea th:field="*{description}"
                              type="text" class="form-control"
                              id="description" name="description"></textarea>
            </div>
            <small class="errors alert alert-danger" th:if="${#fields.hasErrors('description')}"> Description length
                must be between 5 and 100 characters!</small>
        </div>

        <div class="form-group">
            <div class="pictureUrl" id="pictureUrl">
                <label for="pictureUrl">Picture</label>
            </div>

            <div class="form-group">
                <input type="file" name="pictureUrl" class="form-control-file" aria-describedby="pictureUrl">
            </div>

            <small class="errors alert alert-danger" th:if="${#fields.hasErrors('pictureUrl')}">Picture url must be
                available</small>
        </div>

        <div class="form-group">
            <div class="price">
                <label th:for="price" class="price">Price</label>
            </div>
            <div>
                <input th:field="*{price}" th:errorclass="is-invalid" type="number" step="1.00" class="price-input"
                       id="price" name="price"/>
            </div>
            <small class="errors alert alert-danger" th:if="${#fields.hasErrors('price')}">Price must be null or
                positive number!</small>
        </div>

        <div class="form-group">
            <div class="category">
                <label th:for="category" class="category">Category</label>
            </div>
            <div>
                <select class="custom-select" id="category" name="category">
                    <option value="">Select category</option>
                    <option th:each="c : ${T(forexbet.tradingforecasts.model.entity.enums.CategoryNameEnum).values()}"
                            th:value="${c}" th:text="${c}"></option>
                </select>
            </div>
            <small class="errors alert alert-danger" th:if="${#fields.hasErrors('category')}">You must select a
                category!</small>
        </div>

        <div class="form-group">
            <div class="type">
                <label th:for="type" class="type">Type</label>
            </div>
            <div>
                <select class="custom-select" id="type" name="type">
                    <option value="">Select type</option>
                    <option>Long</option>
                    <option>Short</option>
                </select>
            </div>
            <small class="errors alert alert-danger" th:if="${#fields.hasErrors('type')}">You must select a
                type!</small>
        </div>

        <div class="button">
            <button type="submit" class="button-add" value="Register">Add Forecast</button>
        </div>

    </form>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>

</html>