<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/login-style.css}">

</head>
<body>
<nav th:replace="~{fragments/commons::nav}"></nav>

<form th:action="@{/users/login}" method="post" th:object="${userLoginDTO}">

    <div class="container">
        <label for="username"><b>Username</b></label>
        <input th:field="*{username}" th:errorclass="is-invalid"
               type="text" placeholder="Enter valid username" id="username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input th:field="*{password}" th:errorclass="is-invalid"
               type="password" placeholder="Enter valid password" id="password" name="password" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <!-- <div class="container" style="background-color:lightblue">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div> -->
</form>
</body>
</html>