<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/login-style.css}">

</head>
<body>

<div>
    <form th:action="@{/users/login}" th:method="post">

<!--        <div th:each="error: ${#fields.errors()}" th:text="${error}" class="text-danger">Error messages</div>-->
<!--        <div th:if="${bad_credentials}" class="text-danger">Invalid username or password!</div>-->

        <div class="container">
            <div th:if="${param.error}" class="alert alert-danger">
                <strong>Wrong username or password!</strong>
            </div>

            <div>
                <label for="username"><b>Username</b></label>
                <input th:value="${username}" id="username" name="username"
                       type="text" placeholder="Enter your username"
                       required minlength="3" maxlength="20">
            </div>

            <div>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter your password" id="password" name="password"
                       required minlength="5" maxlength="20">
                <small class="text-danger" th:if="${bad_credentials}">Invalid username or password!</small>
            </div>

            <div>
                <button type="submit">Login</button>
            </div>

            <div>
                <label>
                    <input type="checkbox" name="remember-me"> Remember me
                </label>
            </div>
        </div>
<!--        <div class="errors alert alert-danger" th:if="${bad_credentials}">-->
<!--            Invalid username or password.-->
<!--        </div>-->
    </form>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>