<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/order-style.css}">
</head>

<body>

<nav th:replace="~{fragments/commons::nav}"></nav>

<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <h1>Closed for maintenance. We are coming after 10 minutes! Click Orders to refresh!</h1>
    </div>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>

</html>