<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Forecast</title>

    <link rel="stylesheet" href="free-forecast.css">
</head>
<body>
    <main>
        <div class="container bg-blur rounded mt-1 mb-4">
            <h3>Free Forecasts</h3>
            <h6>totalOffers</h6>

            <div class="active-forecast" style="height: 30vh; overflow: auto">
                <ul>
                    <li>
                        <table>
                            <tr>
                                <td style="width: 10%">
                                    <a>Category</a>
                                </td>
                                <td style="width: 10%">
                                    <a>Type</a>
                                </td>
                                <td style="width: 10%">
                                    <a>Picture</a>
                                </td>
                                <td style="width: 10%">
                                    <a>Description</a>
                                </td>
                                <td class="expired-button" style="width: 1%">
                                    <a href="#">Expired</a>
                                </td>
                                <td class="delete-button" style="width: 1%">
                                    <a href="#">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>

    </main>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Forecasts</title>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" href="free-forecast.css">
</head>
<body>

<nav th:replace="~{fragments/commons::nav}"></nav>

<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <h3>Free Forecasts</h3>
        <!-- <button id="loadForecasts">LOAD FREE FORECASTS</button> -->

        <div class="active-forecast" style="height: 30vh; overflow: auto" id="forecast-container">
            <ul each="f : ${getAllFreeForecasts}">
                <li>
                    <table>
                        <tr>
                            <td id="category" style="width: 10%">
                                <a text="*{f.getCategory().toString()}">Category</a>
                            </td>
                            <td id="type" style="width: 10%">
                                <a text="*{f.getForecastType()}">Type</a>
                            </td>
                            <td id="picture" style="width: 10%">
                                <a text="*{f.getPictureUrl()}">Picture</a>
                            </td>
                            <td id="description" style="width: 10%">
                                <a text="*{f.getDescription()}">Description</a>
                            </td>
                            <!--                            <td class="expired-button" style="width: 1%" sec:authorize="hasRole('Admin')">-->
                            <!--                                <a href="@{/orders/order/expire/{id}(id=*{f.id})}">Expired</a>-->
                            <!--                            </td>-->
                            <!--                            <td class="delete-button" style="width: 1%" sec:authorize="hasRole('Admin')">-->
                            <!--                                <a href="@{orders/remove/{id}(id=*{f.id})}">Delete</a>-->
                            <!--                            </td>-->
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>

<script th:src="@{/js/free-forecasts.js}"></script>
</body>
</html>