* {
    box-sizing: border-box;
}

nav {
    margin-top: 30px;
    list-style: none;
    font-size: 19px;
}

nav li {
    list-style: none;
    color: black;
}

nav a {
    text-decoration: none;
    color: black;
    padding-right: 22px;
}

.nav li {
    display: inline-block;
}

nav li :hover {
    color: #0cbb0c;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

form .button {
    background-color: white;
    border: none;
    color: black;
    font-size: medium;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}