body {
    background-image: url(/images/daxBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
}

div {
    width: 400px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: #10548b;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    font-size: 19px;
}

div h3 {
    cursor: pointer;
}

div h3 a {
    color: #fff;
    text-decoration: none;
}

main div :hover {
    background-color: #10548b;
    color: gold;
}

p {
    color: whitesmoke;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 950px;
    font-size: 19px;
    padding: 8px;
    text-align: justify;
}

nav {
    margin-top: 30px;
    list-style: none;
    font-size: 19px;
}

nav li {
    list-style: none;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    padding-right: 22px;
}

.nav li {
    display: inline-block;
}

form .button {
    background: none;
    border: none;
    color: white;
    font-size: medium;
    cursor: pointer;
}

nav li :hover {
    color: limegreen;
}

@media only screen and (max-width:1260px) {

    .main {
        width: 80%;
        padding: 0;
    }

    div {
        width: 400px;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 20px;
        margin-top: 30px;
        margin-left: 30px;
        background-color: #10548b;
        color: #fff;
        border-radius: 25px;
        text-align: center;
        font-size: 19px;
    }

    p {
        color:  white;
        margin-top: 200px;
        margin-left: 30px;
        margin-right: 650px;
        font-size: 19px;
        padding: 8px;
        text-align: justify;
    }
}

@media only screen and (max-width:1050px) {

    p {
        color:  white;
        margin-top: 150px;
        margin-left: 30px;
        margin-right: 350px;
        font-size: 19px;
        padding: 8px;
        text-align: justify;
    }
}

@media only screen and (max-width:765px) {

    p {
        color:  white;
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 50px;
        font-size: 19px;
        padding: 8px;
        text-align: justify;
    }
}

@media only screen and (max-width:500px) {

    .main {
        width: 80%;
        padding: 0;
    }

    div {
        width: 300px;
        display: inline-block;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 8px;
        padding-left: 16px;
        margin-top: 50px;
        margin-left: 66px;
        background-color: #10548b;
        color: #fff;
        border-radius: 25px;
        text-align: center;
        font-size: 19px;
    }

    p {
        color:  white;
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 19px;
        padding: 8px;
        text-align: justify;
    }
}
