body {
    background-image: url(/images/backgroundForex.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-position: center;*/
    width: auto;
    height: auto;
}

header {
    color: whitesmoke;
    text-align: center;
}

nav {
    margin-top: 30px;
    list-style: none;
    font-size: 19px;
}

.nav li {
    display: inline-block;
}

nav li {
    list-style: none;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    padding-right: 22px;
}

nav li :hover {
    color: limegreen;

}

form .button {
    background: none;
    border: none;
    color: white;
    font-size: medium;
}

li form .button :hover {
    background-color: red;
}

div {
    width: 400px;
    display: inline-block;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #10548b;
    color: #fff;
    border-radius: 25px;
    text-align: center;
}

div p a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

main :hover {
    background-image: url(/images/hoverBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: lime;
    background-blend-mode: luminosity;
    text-transform: uppercase;
}

main div :hover {
    background-image: none;
    background-color: none;
}

/*main div p :hover {*/
/*    background-image: none;*/
/*    background-color: none;*/
/*    color: lime;*/
/*}*/

p {
    color: whitesmoke;
    font-size: 18px;
}

section article {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #10548b;
    border-radius: 25px;
    padding: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: white;
    text-align: justify;
}

section article :hover {
    color: gold;
}

footer {
    position: relative;
    left: 20px;
    bottom: 10px;
    height: 30px;
    width: 100%;
    color: #fff;
}