body {
    background-image: url(/images/backgroundForexTrading.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
    background-color: #10548b;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 12px;
}

form div label {
    color: white;
}

.text-danger {
    background-color: whitesmoke;
    color: red;
    font-size: large;
}

nav {
    margin-top: 30px;
    list-style: none;
    font-size: 19px;
}

nav li {
    list-style: none;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    padding-right: 22px;
}

.nav li {
    display: inline-block;
}

nav li :hover {
    color: limegreen;

}

p {
    font-size: 18px;
    color: whitesmoke;
}

a {
    font-size: 20px;
    color: whitesmoke;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

footer {
    position: fixed;
    left: 20px;
    bottom: 10px;
    height: 30px;
    width: 100%;
    color: #fff;
}